<template>
    <div>
        <div v-if="isAddActivity === false">
            <button class="btn btn-primary" type="button" @click="addNewActivity">Add New Transaction</button>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Mengerjakan ID</th>
                        <th scope="col">Date Pengerjaan</th>
                        <th scope="col">Nama Mahasiswa</th>
                        <th scope="col">Nama Tugas</th>
                        <th scope="col">Jumlah Mengerjakan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(list,index) in activityView" :key="index">
                        <td>{{list.mengerjakanId}}</td>
                        <td>{{list.mengerjakanDate}}</td>
                        <td>{{list.mahasiswaName}}</td>
                        <td>{{list.tugasName}}</td>
                        <td>{{list.mengerjakanJumlah}}</td>
                        <td>
                            <a :href="'/list/update?mengerjakanId='+list.mengerjakanId" class="btn btn-warning">
                                <fa-icon icon="edit"></fa-icon>
                                Edit
                            </a>

                            <button class="btn btn-danger" @click="deleteTransaction(transaction)">
                                <fa-icon icon="trash-alt"></fa-icon>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

            <div v-if="isAddActivity === true">
                <validation-observer ref="observer" v-slot="{validate,valid}">
                    <form method="post" @submit.prevent="insertActivity">
                        <label class="col-form-label">Mengerjakan Date</label>
                        <validation-provider name="Mengerjakan Date" rules="required" v-slot="{errors}">
                            <input class="form-control" type="number" v-model="newTransaction.customerId" />
                            <span class="text-danger font-italic">{{errors[0]}}</span>
                        </validation-provider>
                        <br />

                        <label class="col-form-label">Barang ID</label>
                        <validation-provider name="Barang ID" rules="required" v-slot="{errors}">
                            <input class="form-control" type="number" v-model="newTransaction.barangId" />
                            <span class="text-danger font-italic">{{errors[0]}}</span>
                        </validation-provider>
                        <br />

                        <label class="col-form-label">Transaction Type</label>
                        <validation-provider name="Transaction Type" rules="required" v-slot="{errors}">
                            <input class="form-control" type="text" v-model="newTransaction.transactionType" />
                            <span class="text-danger font-italic">{{errors[0]}}</span>
                        </validation-provider>
                        <br />

                        <label class="col-form-label">Transaction Date</label>
                        <validation-provider name="Transaction Date" rules="required" v-slot="{errors}">
                            <input class="form-control" type="datetime" v-model="newTransaction.transactionDate" />
                            <span class="text-danger font-italic">{{errors[0]}}</span>
                        </validation-provider>
                        <br />

                        <label class="col-form-label">Total Transaction</label>
                        <validation-provider name="Total Transaction" rules="required" v-slot="{errors}">
                            <input class="form-control" type="text" v-model="newTransaction.totalTransaction" />
                            <span class="text-danger font-italic">{{errors[0]}}</span>
                        </validation-provider>
                        <br />
                        <button class="btn btn-primary" type="submit">
                            <fa-icon icon="check"></fa-icon>
                            Submit
                        </button>
                    </form>
                </validation-observer>
            </div>
        </div>
</template>

<script lang="ts">
import Vue from 'vue';
    import Component from 'vue-class-component';
    import { ActivityService, AddActivityModel, ViewActivityModel } from '../service/NSwagService';
    import swal from 'sweetalert2';
    import { ValidationObserver } from 'vee-validate';

    @Component({
        created: async function (this: ListActivity) {
            await this.getActivity();
        }
})
    export default class ListActivity extends Vue {
        service: ActivityService = new ActivityService();

        activityView: ViewActivityModel[] = [];


        newActivity: AddActivityModel = {
            mengerjakanId: 0,
            mengerjakanName: '',
            mengerjakanDate: '',
            mahasiswaId: 0,
            tugasId: 0
        }

        isAddActivity = false;

        addNewActivity(): void {
            this.isAddActivity = true;
            return;
        }

        async getActivity(): Promise<void> {
            this.activityView = await this.service.getAllActivity();
        }

        async insertActivity(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();

            if (valid == false) {
                return;
            }

            await this.service.insertActivity(this.newActivity);

            swal.fire({
                title: 'Yeayy!',
                icon: 'success',
                text: 'Success insert new data employee.'
            });

            await this.getActivity();
            this.isAddActivity = false;
        }

        async deleteActivity(mengerjakanId): Promise<void> {
            swal.fire({
                title: 'Are you sure?',
                text: "Delete this laptop data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then(async (result) => {
                if (result.value) {

                    await this.service.deleteActivity(mengerjakanId);
                    await this.service.getAllActivity();
                    swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    ).then(async (result) => { window.location.href = '/list/index' })

                }
            })
        }
}
</script>
